<!DOCTYPE html>
<html>

<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>Welcome</h1>

  <p>This is the public welcome page.</p>

  <a href="/register">Register</a>
  <a href="/login">Login</a>
</body>

</html>
